.container {
  display: flex;
  justify-content: center;
}

.new-task {
  background-color: rgba(0,0,0,0.3) !important;
  width: 100%;
}

.current-tasks {
  background-color: rgba(0,0,0,0.3) !important;
  width: 100%;
}
